<section class="devise">
  <h1>Edit Your Stats</h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div>Weight (lb)<br />
    <%= f.text_field :weight, autofocus: true, autocomplete: :off %></div>
  
    <div>BMR<br />
    <%= f.text_field :bmr, autocomplete: :off %></div>

    <div><%= f.submit "Update" %></div>
  <% end %>

</section>