<% provide(:title, 'Resend Unlock Instructions') %>
<section class="devise">
	<h1>Resend Unlock Instructions</h1>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Resend Instructions", class: "btn btn-large" %></div>
<% end %>

<div><%= render "devise/shared/links" %></div>

</section>