<%= form_for(@meal) do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h4>

      <ul class="error">
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, placeholder: "Meal 1, Shake 1, etc." %>
  </div>
  <div class="field">
    <%= f.label :calories %><br>
    <%= f.text_field :calories %>
  </div>
  <div class="field">
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :carbohydrates %><br>
    <%= f.text_field :carbohydrates %>
  </div>
  <div class="field">
    <%= f.label :fats %><br>
    <%= f.text_field :fats %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
  <% if current_page?(edit_meal_path(@meal)) %>
    <div class="delete">
      <%= link_to "Delete", @meal, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
<% end %>
