<% provide(:title, 'Favourites') %>

<section class="content">
   
  <h1>Favourites</h1>

  <hr>
     
<% if @favourites.blank? %>

  <h3>You can add Favourites the next time you add a meal.</h3>

<% else %>
     
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fats</th>
      </tr>
    </thead>
    <tbody>
      <% @favourites.each do |meal| %>
        <tr class="favourites">
          <% if meal.description.blank? %>
            <td><%= link_to meal.name, edit_meal_path(meal) %></td>
          <% else %>
            <td><%= link_to meal.name, edit_meal_path(meal), class: "tooltip", title: "#{meal.description}" %></td>
          <% end %>
          <td><%= "#{(meal.protein * 4) + (meal.carbohydrates * 4) + (meal.fats * 9)} kcal" %></td>
          <td><%= "#{meal.protein}g" %></td>
          <td><%= "#{meal.carbohydrates}g" %></td>
          <td><%= "#{meal.fats}g" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
  
</section>