<section class="index">
<% if user_signed_in? %>
<h2><%= Date.today.strftime('%A, %d %B %Y') %></h2>

<span>
  <h4>Your BMR is: <%= link_to current_user.bmr, edit_user_registration_path %></h4>
</span>

<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fats</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.name %></td>
        <td class="meal-list"><%= meal.calories %></td>
        <td class="meal-list"><%= meal.protein %></td>
        <td class="meal-list"><%= meal.carbohydrates %></td>
        <td class="meal-list"><%= meal.fats %></td>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Delete', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td>
      </tr>
    <% end %>
      <tr>
        <td class="meal-total">Total:</td>
        <td class="meal-list meal-total"><%= @meals.sum(:calories) %></td>
        <td class="meal-list meal-total"><%= @meals.sum(:protein) %></td>
        <td class="meal-list meal-total"><%= @meals.sum(:carbohydrates) %></td>
        <td class="meal-list meal-total"><%= @meals.sum(:fats) %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="remaining">Remaining:</td>
        <td class="meal-list remaining"><%= current_user.bmr - @meals.sum(:calories) %></td>
        <td class="meal-list remaining"><%= (current_user.bmr*0.4/4).to_i - @meals.sum(:protein) %></td>
        <td class="meal-list remaining"><%= (current_user.bmr*0.4/4).to_i - @meals.sum(:carbohydrates) %></td>
        <td class="meal-list remaining"><%= (current_user.bmr*0.2/9).to_i - @meals.sum(:fats) %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'Add Meal', new_meal_path, data: { keybinding: 'n' } %>
<% else %>
Hello! Please <%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to use this service.
<% end %>
</section>
