<section class="index">

<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert") %>
<% end %>

<% if user_signed_in? %>

<div class="header">
  
  <h1><%# link_to "&#171".html_safe, 'javascript:void(0)', class: "arrow" %> <%= Date.today.strftime('%A, %d %B %Y') %> <%# link_to "&#187".html_safe, 'javascript:void(0)', class: "arrow" %></h1>
  
  <% if current_user.bmr.blank? || current_user.weight.blank? || current_user.protein_intake.blank? || current_user.fat_percentage.blank? %>
    <h3><%= link_to "Please Set Your Stats", account_stats_path %></h3>
  <% else %>
    <h3>
      Your Protein Intake is <%= link_to "#{current_user.protein_intake}g with You#{current_user.weight}lb Weight", account_stats_path %><br>
      Your Fat Percentage is <%= link_to "#{current_user.fat_percentage}% of #{current_user.bmr} Calories", account_stats_path %>
    </h3>
  <% end %>
  
  <hr>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fats</th>
    </tr>
  </thead>

  <tbody>
    <% @todays_meals.each do |meal| %>
      <tr class= "value">
          <td><%= link_to meal.name, edit_meal_path(meal) %></td>
          <td><%= meal.calories %></td>
          <td><%= "#{meal.protein}g" %></td>
          <td><%= "#{meal.carbohydrates}g" %></td>
          <td><%= "#{meal.fats}g" %></td>
      </tr>
    <% end %>
      <tr>
        <td class="meal-total">Consumed:</td>
        <td class="meal-total"><%= @todays_meals.sum(:calories) %></td>
        <td class="meal-total"><%= "#{@todays_meals.sum(:protein)}g" %></td>
        <td class="meal-total"><%= "#{@todays_meals.sum(:carbohydrates)}g" %></td>
        <td class="meal-total"><%= "#{@todays_meals.sum(:fats)}g" %></td>
      </tr>
      <% unless current_user.bmr.blank? || current_user.weight.blank? || current_user.protein_intake.blank? || current_user.fat_percentage.blank? %>
        <tr class="remaining">
          <td class="meal-remaining">Remaining:</td>
          <td class="meal-remaining"><%= @remaining_calories %></td>
          <td class="meal-remaining"><%= "#{@remaining_protein}g" %></td>
          <td class="meal-remaining"><%= "#{@remaining_carbs}g" %></td>
          <td class="meal-remaining"><%= "#{@remaining_fats}g" %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<div class="add"><%= link_to "Add Meal", new_meal_path, data: { keybinding: 'a' } %></div>

<% else %>
</section>

<div class="hello">
  <%= link_to image_tag("logo.png"), root_path, class: "logo-hello" %>
  <p>Track Track is an application for bodybuilders to track the calories and macronutrients of each meal.</p>
  <%= link_to "Login", new_user_session_path, class: "btn" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn" %>
</div>

<% end %>
