<section class="index">

<h1>Track Track</h1>
<h3><%= Date.today.strftime('%A, %d %B %Y') %></h3>

<span>
  <%# form_for(@bmr) do |f| %>
    <%# f.text_field :bmr, placeholder: "Enter your BMR" %>
    <%# f.submit "Save", remote: true %> How do I <%= link_to "calculate my BMR?", 'javascript:void(0)' %>
  <%# end %>
</span>

<h4>Your BMR is: </h4>

<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fats</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.name %></td>
        <td class="meal-list"><%= meal.calories %></td>
        <td class="meal-list"><%= meal.protein %></td>
        <td class="meal-list"><%= meal.carbohydrates %></td>
        <td class="meal-list"><%= meal.fats %></td>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td>
      </tr>
    <% end %>
      <tr>
        <td class="meal-total">Total:</td>
        <td class="meal-list meal-total"><%= @meals.sum(:calories) %></td>
        <td class="meal-list meal-total"><%= @meals.sum(:protein) %></td>
        <td class="meal-list meal-total"><%= @meals.sum(:carbohydrates) %></td>
        <td class="meal-list meal-total"><%= @meals.sum(:fats) %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="remaining">Remaining:</td>
        <td class="meal-list remaining"><%= 2500 - @meals.sum(:calories) %></td>
        <td class="meal-list remaining"><%= (2500*0.4/4).to_i - @meals.sum(:protein) %></td>
        <td class="meal-list remaining"><%= (2500*0.4/4).to_i - @meals.sum(:carbohydrates) %></td>
        <td class="meal-list remaining"><%= (2500*0.2/9).to_i - @meals.sum(:fats) %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Meal', new_meal_path %>
</section>
