<div class="alert-container">
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
  <% end %>
</div>

<% unless user_signed_in? %>

  <% provide(:title, 'The next level of tracking nutrition') %>

  <section class="hello">

    <h1 class="fadeInUp">The next level of tracking nutrition.</h1>

    <h2 class="fadeIn">The development of character which<br>speaks to the ability to follow through.</h2>

    <div>
      <%= link_to "Create Free Account", new_user_registration_path, class: "btn btn-large fadeIn" %>
      <p>No credit card required / No commitment</p>
    </div>

  </section>

<% else %>

<section class="content">

    <% provide(:title, "#{current_user.name}") %>
     
    <h1><%= link_to "&#8592".html_safe, yesterday_path, data: { keybinding: "y" } %> <%= Time.zone.today.strftime('%A, %d %B %Y') %> <%= link_to "&#8594".html_safe, root_path, class: "disabled" %></h1>
     
    <% if current_user.bmr.blank? || current_user.weight.blank? || current_user.protein_intake.blank? || current_user.fat_percentage.blank? %>
      <h3><%= link_to "Please Set Your Stats", profile_path %></h3>
    <% else %>
      <h3>
        <%= "Your protein intake is #{current_user.protein_intake}g &#8212; #{(current_user.protein_intake.to_f / current_user.weight).round(2)}&#215 body weight (#{current_user.weight}lb)".html_safe %><br>
        <%= "Your carb intake is #{@carb_grams}g &#8212; #{(@carb_grams * 400.to_f / current_user.bmr).round(1)}% of #{current_user.bmr} kcal".html_safe %><br>
        <%= "Your fat intake is #{@fat_grams}g &#8212; #{current_user.fat_percentage}% of #{current_user.bmr} kcal".html_safe %>
      </h3>
    <% end %>
     
    <hr>

  <% unless current_user.meals.today.blank? %>
  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fats</th>
      </tr>
    </thead>
    <tbody>
      <% @todays_meals.each do |meal| %>
        <tr>
          <% if meal.description.blank? %>
            <td><%= link_to meal.name, edit_meal_path(meal) %></td>
          <% else %>
            <td><%= link_to meal.name, edit_meal_path(meal), class: "tooltip", title: "#{meal.description}" %></td>
          <% end %>
            <td><%= "#{(meal.protein * 4) + (meal.carbohydrates * 4) + (meal.fats * 9)} kcal" %></td>
            <td><%= "#{meal.protein}g" %></td>
            <td><%= "#{meal.carbohydrates}g" %></td>
            <td><%= "#{meal.fats}g" %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>Consumed</td>
        <td><%= "#{@total_calories} kcal" %></td>
        <td><%= "#{@todays_meals.sum(:protein)}g" %></td>
        <td><%= "#{@todays_meals.sum(:carbohydrates)}g" %></td>
        <td><%= "#{@todays_meals.sum(:fats)}g" %></td>
      </tr>
      <% unless current_user.bmr.blank? || current_user.weight.blank? || current_user.protein_intake.blank? || current_user.fat_percentage.blank? %>
        <tr>
          <td class="remaining">Remaining</td>
          <td class="remaining"><%= "#{@remaining_calories} kcal" %></td>
          <td class="remaining"><%= "#{@remaining_protein}g" %></td>
          <td class="remaining"><%= "#{@remaining_carbs}g" %></td>
          <td class="remaining"><%= "#{@remaining_fats}g" %></td>
        </tr>
      <% end %>
    </tfoot>
  </table>

  <div class="add"><%= link_to "Add Meal", new_meal_path, class: "btn btn-large", data: { keybinding: 'a' } %></div>

  <% else %>
  
  <div class="add"><%= link_to "Add Meal", new_meal_path, class: "btn btn-large", data: { keybinding: 'a' } %></div>

  <% end %>
  
  </section>

<% end %>
