<header>
	<nav>
		<ul>
			<li>
				<%= link_to "<span class='first'>Track</span><span class='last'>Track</span>".html_safe, root_path, data: { keybinding: 'h' }, class: "logo" %>
			</li>
		</ul>
		<% if user_signed_in? %>
		<ul class="profile">
			<li>
				<%= link_to current_user.name, 'javascript:void(0)', class: "name" %>
			</li>
		</ul>
		<% else %>
		<ul class="login">
			<li><%= link_to "How It Works", about_path %></li>
			<li><%= link_to "Pricing", pricing_path %></li>
			<li><%= link_to 'Login', new_user_session_path, class: "btn home-login" %></li>
		</ul>
		<% end %>	
	</nav>
</header>

<div class="box shortcuts-box">
	<div class="box-head">
		<h3>Keyboard Shortcuts</h3>
		<div class="actions">
			<%= link_to "Close", 'javascript:void(0)' , class: "btn close" %>
		</div>
	</div>
	<div class="box-body">
	</div>
</div>