<header>
	<nav>
		<ul>
			<li><%= link_to image_tag('logo.png'), root_path, class: "logo", data: { keybinding: 'h' } %></li>
		<% if user_signed_in? %>
		</ul>
		<ul class="profile">
			<span class="arrow"><%= image_tag("arrow.png") %></span>
			<li><%= link_to current_user.name, root_path %>
				<ul class="profile_links">
					<li><%= link_to "Edit Profile", profile_path, data: { keybinding: "p" } %></li>
					<li><%= link_to "Favourites", favourites_path, data: { keybinding: "f" } %></li>
					<li><hr></li>
					<li><%= link_to "Help", help_path %></li>
					<li><%= link_to "Shortcuts", 'javascript:void(0)', class: "shortcuts" %></li>
					<li><hr></li>
					<li><%= link_to "Settings", settings_path %></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				</ul>
			</li>
		</ul>
		<% else %>
		</ul>
		<ul class="login">
			<li><%= link_to 'Login', new_user_session_path %> </li>
			<li><%= link_to 'Sign Up', new_user_registration_path %></li>
		</ul>
		<% end %>	
	</nav>
</header>

<div class="box shortcuts-box">
	<div class="box-head">
		<h3>Keyboard Shortcuts</h3>
		<div class="actions">
			<%= link_to "Close", 'javascript:void(0)' , class: "btn close" %>
		</div>
	</div>
	<div class="box-body">
	</div>
</div>