<!DOCTYPE html>
<html>
<head>
  <title>TrackTrack / <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//use.typekit.net/ilt2pfw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content">

<% if user_signed_in? %>
	<div class="body-fade"></div>
	<div class="sidebar">
		<ul class="profile_links">
			<li><%= link_to "#{current_user.weight} lbs", 'javascript:void(0)', class: "name-link" %></li>
			<li><%= link_to "Edit Profile", profile_path, data: { keybinding: "p" } %></li>
			<li><%= link_to "Favourites", favourites_path, data: { keybinding: "f" } %></li>
			<li><hr></li>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Shortcuts", 'javascript:void(0)', class: "shortcuts" %></li>
			<li><hr></li>
			<li><%= link_to "Settings", settings_path %></li>
			<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			<li><%= "&copy #{Time.now.year}".html_safe %></li>
		</ul>
	</div>
<% end %>

<%= render 'layouts/header' unless @no_header %>

<%= yield %>

<%= render 'layouts/footer' %>

</div>
</body>
</html>