<!DOCTYPE html>
<html>
<head>
  <title>TrackTrack</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--<script src="//use.typekit.com/glv8hpo.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>-->
  <%= csrf_meta_tags %>
</head>
<body>

<div class="body-fade"></div>

<div class="box shortcuts-box">
	<div class="box-head">
		<h3>Keyboard Shortcuts</h3>
		<div class="actions">
			<%= link_to "Close", 'javascript:void(0)' , class: "btn close" %>
		</div>
	</div>
	<div class="box-body">
		
	</div>
</div>

<%= render 'layouts/header' unless @no_header %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
