<!DOCTYPE html>
<html>
<head>
  <title>TrackTrack</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--<script src="//use.typekit.com/glv8hpo.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' unless @no_header %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
