<!DOCTYPE html>
<html>
<head>
  <title>Track Track</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless @no_header %>
	<%= render 'layouts/header' %>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
